In [43]:
import pandas as pd
from models.DataModels import CoordinateTransformModel
from controllers.transform import latlon_xy_transform, xy_latlon_transform
import numpy as np

In [40]:
lat = [89]
lon = [179]
other = ['makerere']

orig = pd.DataFrame([lat,lon,other]).transpose()
orig.columns = ["latitude", "longitude", "other"]

In [41]:
orig

  latitude longitude     other
0       89       179  makerere

In [42]:
xy = latlon_xy_transform(orig)
xy

              x             y     other
0  1.992619e+07  3.024097e+07  makerere

In [5]:
latlon = xy_latlon_transform(xy)
latlon

   latitude  longitude     other
0   0.33353  32.567505  makerere

In [6]:
(latlon == orig).all(axis=None)

True

In [24]:
a = True

In [19]:
if a:
    'test'
if not a:
    'tester'

In [27]:
assert type(a) == bool

In [25]:
type(a)

bool